# Catalog & Order Service Configuration
NODE_ENV=development
PORT=3002
LOG_LEVEL=debug

# Database Configuration
DATABASE_URL=postgresql://

STRIPE_WEBHOOK_SECRET=whsec_

STRIPE_SECRET_KEY=sk_test_

# RabbitMQ Configuration
RABBITMQ_URL=amqp://user:password@localhost:5672

# Clerk Configuration
CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_

