NODE_ENV=development
PORT=3004
LOG_LEVEL=info

DATABASE_URL=postgresql://neondb_owner:REPLACE_ME@ep-rapid-bonus-akn5201o-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require

RABBITMQ_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
ORDER_SERVICE_URL=http://localhost:3003
