@import "tailwindcss";

@theme {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  
  --color-border: hsl(240 5.9% 90%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-background: hsl(0 0% 100%);
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
