# Server Configuration
PORT=3001
LOG_LEVEL=info
NODE_ENV=development

# Database Configuration
# DATABASE_URL=postgresql://user:password@localhost:5432/user_service

# Auth Configuration (Clerk) dashboard -> configure -> api keys
CLERK_SECRET_KEY=sk_test_...
CLERK_WEBHOOK_SECRET=whsec_...
