# Server Configuration
PORT=3001
LOG_LEVEL=info
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/user_service

RABBITMQ_URL=

# Auth Configuration (Clerk) dashboard -> configure -> api keys
CLERK_SECRET_KEY=sk_test_...
CLERK_WEBHOOK_SECRET=whsec_...
SENTRY_DSN=https://8eb40024f9fb3d58bd3beb000ada4469@o4511446240460800.ingest.de.sentry.io/4511446250094672
